{% extends "layouts/app.html.twig" %}

{% block content %}
    <div class="right_col" role="main">
        <div class="">

            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Issue Edit Form <small>please fill the form fields</small></h2>

                            <div class="clearfix"></div>
                        </div>

                        <div class="x_content">

                            {{ form_start(form,{"attr" : {"class" : "form-horizontal form-label-left"} }) }}
                            <div class="form-group">
                                {{ form_label(form.title, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.title,{"attr" : {"class": "form-control col-md-7 col-xs-12"},'label': '' }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.content, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.content,{"attr" : {"class": "form-control col-md-7 col-xs-12"} }) }}
                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.tags, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.tags,{"attr" : {"class": "tags form-control"} }) }}

                                </div>
                            </div>

                            <div class="form-group">
                                {{ form_label(form.status, null, {'label_attr': {'class': 'control-label col-md-3 col-sm-3 col-xs-12'}}) }}
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    {{ form_widget(form.status,{"attr" : {"class": "js-switch"} }) }} Passive / Active
                                </div>
                            </div>
                            {% if status == true %}
                            <div class="form-group">
                                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
                                    <button type="submit" class="btn btn-success">Submit</button></div>
                            </div>
                            {% endif %}
                            {{ form_end(form) }}
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
